.section-container {
  margin: 0 auto;
  margin-top: 1.6rem;

  width: 95%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.6rem;
  background-color: #f2f2f2;
}

.section-name {
  padding: 0.5rem;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  text-align: center;
}

.section-content {
  width: 100%;
  height: 47rem;
  overflow-y: scroll;
  &-item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-right-radius: 0.6rem;
  }
  &-picture {
    //width: 100%;
    max-height: 25rem;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.section-layout {
  display: flex;
  min-height: 75vh;
  margin-bottom: 1rem;
}

.section-is-active {
  border-left: 3px solid #000 !important;
}

.section-sidebar {
  width: 27rem;
  height: 47rem;
  overflow-y: scroll;
  &-item {
    height: 3rem;
    padding: 0.5rem 0rem 0.5rem 0.4rem;
    display: inline-block;
    font-size: 1.4rem;
    margin-top: 0.7rem;
    border-left: 3px solid transparent;
    background-color: #0a0a0a0f;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 320px;
    white-space: nowrap;
    cursor: pointer;
    &:hover {
      background-color: #0a0a0a1b;
    }
  }
}

.section-content-name {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 0.5rem;
  margin-top: 1.5rem;
}

.section-content-text {
  margin-top: 1rem;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  width: 100%;
}

.section-content-date {
  width: 100%;
  text-align: end;
  padding: 0 0.5rem;
  opacity: 0.7;
}

.section-content-info {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}
