.carousel {
  height: 43rem;
  // margin-top: 4.6rem;
  position: absolute;
  width: 100%;
  left: 0;
}

.carousel-caption {
  bottom: 50%;
  transform: translate(0px, 50%);
  color: #000;
  h3 {
    font-size: 4rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.slider-img {
  height: 43rem;
}

.slider-img {
  &__1 {
    background-image: url(../../assets/images/slider-img1.jpg);
  }
  &__2 {
    background-image: url(../../assets/images/slider-img2.jpg);
  }
  &__3 {
    background-image: url(../../assets/images/slider-img3.jpg);
  }

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-box-shadow: inset 1px 1px 50px 50px rgba(0, 0, 0, 0.59);
  box-shadow: inset 1px 1px 50px 50px rgba(0, 0, 0, 0.59);
}

.slide-main-text {
  color: #fff;
  font-weight: 700;
}

.slide-second-text {
  color: #fff;
  display: inline;
  padding: 0.5rem;
  background-color: #000;
}
