.news-section {
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  margin: 3rem 0rem;
  border-radius: 0.6rem;
}

.news-section-name {
  display: inline-flex;
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 0.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.news-section-top {
  height: 7rem;
  width: 100%;
}

.news-section-bottom {
  height: 100%;
}

.news-section-row {
  justify-content: space-between;
}

.news-section-button {
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  margin: 2rem 0 1rem 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    .button-arrow {
      animation: slide1 1s ease-in-out infinite;
    }
  }
}
